{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p> Волшебные сказки помогут вам и вашим детям погрузиться в мир чудес и невероятных приключений. Они способствуют развитию детского воображения, потому что рисуют в нем самые невообразимые картины. Увлекательные сюжеты будут интересны детям любого возраста, и помогут погрузиться в красочные сновидения. Волшебная сказка не просто интересна – она наполняет жизнь ребенка яркими красками, превращая самые обыкновенные вещи в нечто экстраординарное. Сказки про волшебство помогают детям самостоятельно наполнять смыслом окружающий мир, стремиться к созиданию и ценить прекрасное.</p>
        <button class="btn btn-warning">На страницу про нас</button>
    {% for val in values %}
        <p>{{ val }}</p>
    {% endfor %}
    </div>
{% endblock %}